{% extends 'base2.html.twig' %}
{% block bodyBack %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning"> Erreur !</h2>
            <div class="error-content">
                <h3>
                    <i class="fas fa-exclamation-triangle text-warning"></i> Oops!.</h3>
                <p>
                   <h3> Cette reservation ne peut pas etre modifiée  </h3>
                    <a class="btn btn-primary" href="{{ path('reservation_index') }}">Retour à la liste</a>
                </p>

            </div>

        </div>

    </section>
{% endblock %}