<h1>Nouvelle reservation</h1>
<h4> La reservation numero {{ reservation.IdReservation}} a ete bien modifiée pour la date {{ reservation.DateReservation|date('Y-m-d')}}
pour un nombre : {{ reservation.nombre}}
</h4>


