
{% extends '/Front/booking.html.twig' %}

{% block booking %}



    <div class="row justify-content-md-center">
    <!-- left column -->

    <!-- general form elements -->
        <div class="booking">
            <div class="container">
    <div class="card-header">
        <h3 class="card-title">Ajouter une reservation</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    <div class="card-body">

{{ include('Back/reservation/_form.html.twig') }}

    </div>
            </div>
        </div>
</div>


{% endblock  %}