{% block content %}
{% if ProductCategory is empty %}
    <p>Aucune donnée disponible.</p>
{% else %}
	<canvas id="pieChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 840.8px;" width="1051"></canvas>
{% endif %}
{% endblock %}

{% block javascript %}
	{% if ProductCategory is not empty %}
<script>
document.addEventListener("DOMContentLoaded", () => {
   new Chart(document.querySelector('#pieChart'), {
type: 'pie',
data: {
labels: {{ ProductCategory|json_encode|raw }},
datasets: [
{
label: 'My First Dataset',
data: {{ ProductCount|json_encode|raw }},
backgroundColor: {{ ProductColor|json_encode|raw }},
hoverOffset: 4}
]
}
});
});
</script>
{% endif %}
{% endblock %}