{% extends 'base2.html.twig' %}

{% block title %}Ajouter Restaurant{% endblock %}

{% block bodyBack %}
    <div class="content-wrapper">
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ajouter un restaurant</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                        <div class="card-body">

    {{ include('Back/restaurant/_form.html.twig') }}
                            </div>
                </div>
            </div>
        </div>
    </div>
  </section>
    </div>


    <a class="btn btn-light" href="{{ path('restaurant_index') }}">Retour a la liste</a>
{% endblock %}



